* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v45_37 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.imgdefundo {
  width: 100%;
  height: 432px;
  background: url("../images/img tablet.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 0px;
  overflow: hidden;
}
.texto {
  width: 272px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 176px;
  left: 169px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.imglogo {
  width: 320px;
  height: 101px;
  background: url("../images/somLogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 169px;
  overflow: hidden;
}
.box {
  width: 576px;
  height: 545px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 720px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.20000000298023224);
  overflow: hidden;
}
.textC {
  width: 148px;
  color: rgba(85,168,253,1);
  position: absolute;
  top: 30px;
  left: 45px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.textI {
  width: 196px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 75px;
  left: 45px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.login {
  width: 486px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 45px;
  overflow: hidden;
}
.textE {
  width: 313px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v45_58 {   /* criar barra colocar email */
  width: 486px;
  height: 52px;
  background: rgb(236, 234, 234);
  opacity: 1;
  position: absolute; 
  top: 36px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.textS {
  width: 49px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 113px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v45_60 { /* Criar barra colocar senha */
  width: 486px;
  height: 52px;
  background: rgba(236, 234, 234);;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.delete {
  width: 486px;
  height: 52px;
  background: rgba(236, 234, 234);
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.barraAces {
  width: 486px;
  height: 48px;
  background: rgba(85,168,253,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.textA {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 217px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.delete2 {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 17px;
  overflow: hidden;
}
.textC1 {
  width: 140px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 235px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
